body{
color:bisque;
background: black;
margin: 0px;
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.sour-gummy-<uniquifier> {
  font-family: "Sour Gummy", sans-serif;

}

header{
    border-bottom: solid 2px #571301;
    padding: 20px;
    font-size: 32px;
    color: #e9bfb4;
}

sectin{
    background: rgb(39, 38, 38);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;

}













